body {
  margin: 0;
  font-family: Roboto, sans-serif; }

p, h1, h2, h3, h4, h5, h6, li, ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

.character {
  cursor: pointer;
  height: 3.5rem !important;
  width: 3.5rem !important;
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: background 0.2s;
  border: rgba(255, 255, 255, 0.1) 1px solid;
  box-sizing: border-box; }
  .character img {
    height: 3.5rem;
    width: 3.5rem; }
  .character p {
    position: absolute;
    text-align: center;
    bottom: -0.15rem;
    left: 0;
    right: 0;
    font-size: 0.75rem;
    color: white;
    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black;
    display: none; }
  .character:hover {
    background: white; }

.placeholder {
  width: 4.5rem;
  display: inline-block; }

.buttons {
  text-align: center; }

.button {
  display: inline-block;
  background: black;
  color: white;
  height: 2.5rem;
  width: 10rem;
  user-select: none;
  cursor: pointer;
  margin: auto;
  text-align: center;
  line-height: 2.5rem;
  transition: all 0.2s; }
  .button:hover {
    color: black;
    background: rgba(0, 0, 0, 0.25); }

.option-buttons {
  display: none;
  margin-top: 1rem; }

#canvas-area {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000; }
  #canvas-area canvas {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    width: 85% !important;
    height: unset !important;
    margin: auto; }
  #canvas-area #download-button {
    position: absolute;
    width: 10rem;
    height: 5rem;
    text-align: center;
    margin: auto;
    bottom: 5%;
    left: 0;
    right: 0;
    background: white;
    color: black;
    cursor: pointer;
    outline: none;
    transition: all 0.2s; }
    #canvas-area #download-button button {
      background: transparent;
      height: 100%;
      width: 100%;
      cursor: pointer;
      font-family: Roboto, sans-serif;
      font-size: 1.25rem;
      border: none;
      outline: none; }
    #canvas-area #download-button:hover {
      background: #660000; }
      #canvas-area #download-button:hover button {
        color: white; }

#header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  #header img {
    width: 30rem; }
  @media only screen and (max-width: 480px) {
    #header {
      margin-bottom: 5rem; }
      #header img {
        width: 20rem; } }
  #header p {
    font-family: "SerpentineDBol", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: #222222; }
@font-face {
  #header p {
    font-family: 'SerpentineDBol';
    src: url("/fonts/SerpentineDBol.ttf"); } }
#character-area {
  list-style: none;
  max-width: 90%;
  margin: auto;
  height: 100%;
  text-align: center;
  background: linear-gradient(#000000, #660000);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
  min-height: 14rem; }

#tiers {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.tier-box {
  margin: auto;
  margin-top: 1rem;
  position: relative;
  margin-left: 4rem;
  vertical-align: top;
  margin-right: 4rem; }

.tier {
  list-style: none;
  min-height: 4.25rem;
  width: 90%;
  margin: auto;
    margin-bottom: 1rem;
  position: relative;
  vertical-align: top;
  display: inline-block; }
  .tier .character {
    background: rgba(255, 255, 255, 0.5);
    height: 4.25rem !important;
    width: 4.25rem !important;
    box-sizing: border-box;
    border-left: 3px solid rgba(0, 0, 0, 0.25);
    border-right: 3px solid rgba(0, 0, 0, 0.25);
    border-top: 5px solid rgba(0, 0, 0, 0.25);
    border-bottom: 5px solid rgba(0, 0, 0, 0.25); }
    .tier .character img {
      height: 4.25rem;
      width: 4.25rem;
      margin-top: -5px;
      margin-left: -3px; }
    .tier .character:hover {
      background: white; }
  .tier:last-child {
    margin-bottom: 0rem; }

.tier-head {
  width: 10%;
  float: left;
  min-height: 4.25rem;
  box-sizing: border-box;
  border: 5px solid rgba(0, 0, 0, 0.25); }
  .tier-head h3 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black;
    vertical-align: middle;
    outline: none; }

#about-button {
  position: absolute;
  right: 5%;
  top: 2rem; }
  @media only screen and (max-width: 480px) {
    #about-button {
      top: 10rem; } }

#about-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.5); }
  #about-close:hover {
    background: white;
    color: black; }

#about-section {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  background: black;
  color: white;
  text-align: center;
  padding: 1rem; }
  #about-section h1 {
    margin-bottom: 2rem;
    text-transform: uppercase; }
  #about-section h3 {
    background: white;
    color: black;
    padding: 0.5rem;
    width: 10rem;
    margin: auto;
      margin-bottom: 1rem; }
  #about-section p span {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1rem; }

#footer {
  background: black;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  margin-top: 5rem; }
  #footer a {
    color: white;
    transition: all 0.2s;
    text-decoration: none; }
    #footer a:hover {
      color: #660000; }

/*# sourceMappingURL=main.css.map */
