body{
    font-family: "Coda", sans-serif;
    background: black;
    color: white;
}

p{
    color: #AAAAAA;
}

.container{
    text-align: center;
}

#pageTitle{
    font-style: italic;
    text-decoration: underline;
    display: inline-block;
}

#return{
    font-style: normal;
    color: white;
    background: gray;
    background: rgba(255, 255, 255, 0.25);
    display: inline-block;
    float: right;
    margin-top: 2em;
    margin-right: 5em;
    padding: 1em;
    border: 0px;
    font-family: "Coda", sans-serif;
}

#return:hover{
    background: #666666;
    cursor: default;
}

#instructions{
    background: gray;
    height: 15em;
    max-width: 75em;
    margin: 0em auto;
    background: rgba(255, 255, 255, 0.1);
    padding: .5em;
    margin-bottom: 1em;
}

#instructions p{
    text-align: justify;
    text-indent: 3em;
}

#about{
    background: gray;
    height: 15em;
    max-width: 75em;
    margin: 0em auto;
    background: rgba(255, 255, 255, 0.1);
    padding: .5em;
    text-align: center;
}

