#footer{
    a{
        color: white;
        @include t(all);
        text-decoration: none;
        &.dark{
            color: black;
            &:hover{
                color: #dd0000;
            }
        }
        &:hover{
            color: #660000;
        }
    }
    background: black;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin-top: 5rem;
    &.dark{
        background: white;
    }
}