#header{
    text-align: center;
    img{
        width: 30rem;
    }
    margin : {
        top: 2rem;
        bottom: 2rem;
    }
    @include bp(480px){
        img{
            width: 20rem;
        }   
        margin-bottom: 5rem;
    }
    p{
        @font-face {
            font-family: 'SerpentineDBol';
            src: url('/fonts/SerpentineDBol.ttf');
        }
        font-family: "SerpentineDBol", serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        color: black;
    }
}