@font-face{
    font-family: snake;
    src: url(fonts/SerpentineDBol.ttf);
}

#header{
    text-align: center;
    img{
        width: 30rem;
    }
    margin : {
        top: 2rem;
        bottom: 2rem;
    }
    @include bp(480px){
        img{
            width: 20rem;
        }   
        margin-bottom: 5rem;
    }
    p{
        font-family: snake, serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        color: black;
    }
    &.dark{
        p{
            color: white;
        }
        img{
            filter: invert(1);
        }
    }
}