#character-area{
    list-style: none;
    max-width: 90%; 
    margin: auto;
    height: 100%;
    text-align: center;
    background: linear-gradient(#000000, #660000);
    padding : {
        top: 1rem;
        bottom: 1rem;
    }
    display: none;
    min-height: $character-height * 4;
}
#tiers{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.tier-box{
    margin: auto;
    margin-top: 1rem;
    position: relative;
    margin-left: 4rem;
    vertical-align: top;
    margin-right: 4rem;
}
.tier{
    list-style: none;
    min-height: $tier-height;
    width: 90%;
    margin: auto{
        bottom: 1rem;
    }
    position: relative;
    vertical-align: top;
    display: inline-block;
    .character{
        background: $lighter;
        height: $tier-height !important;
        width: $tier-height !important;
        img{
            height: $tier-height;
            width: $tier-height;
            margin-top: -5px;
            margin-left: -3px;
        }
        &:hover{
            background: white;
        }
        box-sizing: border-box;
        border: {
            left: 3px solid $darker;
            right: 3px solid $darker;
            top: 5px solid $darker;
            bottom: 5px solid $darker;
        }
    }
    &:last-child{
        margin-bottom: 0rem;
    }
}
.tier-head{
    width: 10%;
    float: left;
    min-height: $tier-height;
    h3{
        text-align: center;
        font-size: 1.5rem;
        color: white;
        text-shadow: $text-shadow;
        vertical-align: middle;
        outline: none;
    }
    box-sizing: border-box;
    border: 5px solid $darker;
}